{%extends "/shared/layout.html" %}

{% block title %}EducGames{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Educational Video Games</title>

      <link href="/static/global.css" rel="stylesheet">
      <link href="/static/index.css" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
      <script src="/static/bootstrap.bundle.min.js"></script>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   </head>
   <body>
      <section id="header">
         <div id="signup-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">SIGN UP</h5>
                     <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                     <form class="ps-3 pe-3" action="#">
                        <div class="mb-3">
                           <label for="username" class="form-label">Name</label>
                           <input class="form-control" type="email" id="username" required="" placeholder="Eget Nulla">
                        </div>
                        <div class="mb-3">
                           <label for="emailaddress" class="form-label">Email address</label>
                           <input class="form-control" type="email" id="emailaddress" required="" placeholder="info@gmail.com">
                        </div>
                        <div class="mb-3">
                           <label for="password" class="form-label">Password</label>
                           <input class="form-control" type="password" required="" id="password" placeholder="Enter your password">
                        </div>
                        <div class="mb-3">
                           <div class="form-check">
                              <input type="checkbox" class="form-check-input" id="customCheck1">
                              <label class="form-check-label" for="customCheck1">I accept <a href="#">Terms and Conditions</a></label>
                           </div>
                        </div>
                        <div class="mb-3 text-center">
                           <h6><a class="button_1 d-block" href="#">LOG IN</a></h6>
                        </div>
                     </form>
                  </div>
               </div>
               <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
         </div>
      </section>
      <section id="upcome" class="p_3 bg-light">
         <div class="container-xl">
            <div class="row upcome_1 text-center">
               <div class="col-md-12">
                  <h3 class="mb-0">EDUCATIONAL VIDEO GAMES</h3>
                  <hr class="line me-auto ms-auto">
                  <ul class="nav nav-tabs justify-content-center border-0 mb-0 mt-4">
                     <li class="nav-item">
                        <a href="#recoGames" data-bs-toggle="tab" aria-expanded="false" class="nav-link active" onclick="checkDivActive()">
                        <span class="d-md-block">For You</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="#allGames" data-bs-toggle="tab" aria-expanded="true" class="nav-link" onclick="checkDivActive()">
                        <span class="d-md-block">All</span>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="#bestGames" data-bs-toggle="tab" aria-expanded="false" class="nav-link border-0" onclick="checkDivActive()">
                        <span class="d-md-block">Best</span>
                        </a>
                     </li>
                  </ul>
                  <div class="col divBest active">
                     <div class="pull-left">
                        <p>{{filteredBy}}</p>
                     </div>
                     <div class="pull-right">
                        <form method="POST" action="/main">
                           <div class="d-flex justify-content-center mb-4">
                              <select id="select-option" name="option" class="form-select" aria-label="Default select example">
                                 <option value="6" selected>Filter by ratings</option>
                                 {% for option in options %}
                                 <option value="{{ option }}">{{ option }}</option>
                                 {% endfor %}
                              </select>
                              <input type="submit" value="Filter" class="btn btn-outline-info">
                           </div>
                       </form>
                     </div>
                  </div>
               </div>
            </div>
            <h2>{{infoMessage}}</h2>
            <div class="row upcome_2 mt-4">
               <div class="tab-content">
                  <div class="tab-pane active" id="recoGames">
                     <div class="upcome_2i row">
                        {% for i in range(0, gameLink|length)%}
                        <div class="col-md-3">
                           <div class="upcome_2i1 clearfix position-relative">
                              <div class="upcome_2i1i clearfix">
                                <img src="{{imgLink[i]}}" class="w-100" alt="{{gameName[i]}}">
                              </div>
                              <!-- <div class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100">
                                 <h6 class="text-uppercase mb-0"><a class="button_2" href="{{gameLink[i]}}" class="w-100" alt="abc">View Details</a></h6>
                              </div> -->
                           </div>
                           <div class="upcome_2i_last bg-white p-3">
                              <div class="upcome_2i_lasti row">
                                 <div class="col-md-9 col-9">
                                    <div class="upcome_2i_lastil">
                                       <h5><a href="{{gameLink[i]}}">{{gameName[i]}}</a></h5>
                                       <h6 class="text-muted">{{gameTags[i]}}</h6>
                                       <span class="col_red">
                                       {% for j in range(gameRatings[i])%}
                                       <i class="fa fa-star col_oneRow"></i>
                                       {%endfor%}
                                       {% for j in range(5-gameRatings[i])%}
                                       <i class="fa fa-star-o col_oneRow"></i>
                                       {%endfor%}
                                       
                                       <h6 class="text-muted col_oneRow">({{positiveRating[i]}})</h6>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-md-3 p-0 col-3">
                                    <div class="upcome_2i_lastir pt-3">
                                       <span><a class="col_red rounded" href="{{gameLink[i]}}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {%endfor%}
                     </div>
                  </div>

                  <div class="tab-pane" id="allGames">
                     <div class="upcome_2i row">
                        {% for i in range(0, allGames_gameLinks|length)%}
                        <div class="col-md-3">
                           <div class="upcome_2i1 clearfix position-relative">
                              <div class="upcome_2i1i clearfix">
                                <img src="{{allGames_imgLink[i]}}" class="w-100" alt="{{allGames[i]}}">
                              </div>
                              <!-- <div class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100">
                                 <h6 class="text-uppercase mb-0"><a class="button_2" href="{{allGames_gameLinks[i]}}" class="w-100" alt="abc">View Details</a></h6>
                              </div> -->
                           </div>
                           <div class="upcome_2i_last bg-white p-3">
                              <div class="upcome_2i_lasti row">
                                 <div class="col-md-9 col-9">
                                    <div class="upcome_2i_lastil">
                                       <h5><a href="{{allGames_gameLinks[i]}}">{{allGames[i]}}</a></h5>
                                       <h6 class="text-muted">{{gameTags[i]}}</h6>
                                       <span class="col_red">
                                       {% for j in range(allGames_gameRatings[i])%}
                                       <i class="fa fa-star col_oneRow"></i>
                                       {%endfor%}
                                       {% for j in range(5-allGames_gameRatings[i])%}
                                       <i class="fa fa-star-o col_oneRow"></i>
                                       {%endfor%}
                                       
                                       <h6 class="text-muted col_oneRow">({{allGames_positiveRating[i]}})</h6>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-md-3 p-0 col-3">
                                    <div class="upcome_2i_lastir pt-3">
                                       <span><a class="col_red rounded" href="{{allGames_gameLinks[i]}}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {%endfor%}
                     </div>
                  </div>

                  <div class="tab-pane" id="bestGames">
                     <div class="upcome_2i row">
                        {% for i in range(0, bestGames_gameLinks|length)%}
                        <div class="col-md-3">
                           <div class="upcome_2i1 clearfix position-relative">
                              <div class="upcome_2i1i clearfix">
                                <img src="{{bestGames_imgLink[i]}}" class="w-100" alt="{{bestGames[i]}}">
                              </div>
                              <!-- <div class="upcome_2i1i1 clearfix position-absolute top-0 text-center w-100">
                                 <h6 class="text-uppercase mb-0"><a class="button_2" href="{{bestGames_gameLinks[i]}}" class="w-100" alt="abc">View Details</a></h6>
                              </div> -->
                           </div>
                           <div class="upcome_2i_last bg-white p-3">
                              <div class="upcome_2i_lasti row">
                                 <div class="col-md-9 col-9">
                                    <div class="upcome_2i_lastil">
                                       <h5><a href="{{bestGames_gameLinks[i]}}">{{bestGames[i]}}</a></h5>
                                       <h6 class="text-muted">{{gameTags[i]}}</h6>
                                       <span class="col_red">
                                       {% for j in range(bestGames_gameRatings[i])%}
                                       <i class="fa fa-star col_oneRow"></i>
                                       {%endfor%}
                                       {% for j in range(5-bestGames_gameRatings[i])%}
                                       <i class="fa fa-star-o col_oneRow"></i>
                                       {%endfor%}
                                       
                                       <h6 class="text-muted col_oneRow">({{bestGames_positiveRating[i]}})</h6>
                                       </span>
                                    </div>
                                 </div>
                                 <div class="col-md-3 p-0 col-3">
                                    <div class="upcome_2i_lastir pt-3">
                                       <span><a class="col_red rounded" href="{{bestGames_gameLinks[i]}}"><i class="fa fa-arrow-down" aria-hidden="true"></i></a></span>
                                    </div>
                                 </div>
                              </div>
                           </div>
                        </div>
                        {%endfor%}
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
      <script>
         window.onscroll = function() {myFunction()};
         
         var navbar_sticky = document.getElementById("navbar_sticky");
         var sticky = navbar_sticky.offsetTop;
         var navbar_height = document.querySelector('.navbar').offsetHeight;
         
         function myFunction() {
           if (window.pageYOffset >= sticky + navbar_height) {
             navbar_sticky.classList.add("sticky")
         	document.body.style.paddingTop = navbar_height + 'px';
           } else {
             navbar_sticky.classList.remove("sticky");
         	document.body.style.paddingTop = '0'
           }
         }
         
         function checkDivActive(){
            var tabPane1 = document.querySelector('div.tab-pane#recoGames');
            var tabPane2 = document.querySelector('div.tab-pane#allGames');
            var filterDiv = document.querySelector('.divBest');
            if (tabPane1.classList.contains('active') || tabPane2.classList.contains('active')) {
               filterDiv.classList.add('active');
               console.log("not best")
            } else{
               filterDiv.classList.remove('active');
               console.log("best")
            }
         }

      </script>
   </body>
</html>
{% endblock %}
